/*------------HEADER---------------*/

@media (max-width: 1098.98px) {

    //marketing
    .marketing {
        &__description {
            padding-right: 10px;
        }

        &__photos {
            flex: 0 0 55%;
            padding: 0 10px;
        }

        &__links {
            gap: 10px 10px;
        }
    }

    //common styles
    .links {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 1023.98px) {

    //serices
    .services {
        position: relative;
        padding-top: 76px;

        &__row {
            flex-wrap: wrap;
            gap: 30px 0;
        }

        &__offer,
        &__description {
            flex: 0 1 100%;
        }

        &__offer {
            padding: 0;
            text-align: center;
        }

        h2.services__title {
            position: absolute;
            width: 202px;
            height: 74px;
            top: 0%;
            left: 1.5%;
            font-size: 1.5rem;
        }

        &__button {
            display: block;
            width: 100%;
        }

        &__column-1,
        &__column-2 {
            flex-direction: row;
            gap: 0 30px;
        }

        &__column-1 {
            margin: 0;
        }
    }
}

@media (max-width: 767.98px) {
    body {
        font-size: 16px;
    }

    //HEADER
    .header {
        &__row {
            grid-template-columns: 2fr 1fr 2fr;
            grid-template-areas:
                "header__logo header__cart header__button"
                "header__nav header__nav header__nav";
            grid-row-gap: 20px;
        }

        &__nav {
            justify-content: center;
            font-size: 1.75rem;
        }

        &__list {
            margin-right: 0;
        }
    }

    //marketing
    .marketing {
        &__container {
            margin-bottom: 50px;
        }

        &__columns {
            flex-direction: column;
            gap: 50px 0;
        }
    }
}

@media (max-width: 479.98px) {

    //HEADER
    .header {
        &__row {
            grid-row-gap: 0;
        }

        &__nav {
            justify-content: flex-end;
            margin-right: 15px;
        }

        &__list,
        &__cart {
            display: none;
        }

        &__burger {
            display: block;
        }

        &__pop-up {
            left: 0%;
            top: 100%;

            .header__cart {
                display: flex;
                font-size: 2rem;
            }
        }
    }

    //marketing
    .marketing {
        .photos {
            gap: 10px;
        }
    }
    //services
    .services {
        &__container {
            margin-bottom: 25px;
        }

        &__description {
            display: none;
        }
    }
}