/*------------HEADER---------------*/


@media (max-width: 1098.98px) {
}


@media(max-width: 767.98px){
    body{
        font-size: 16px;
    }
    //HEADER
    .header{
        &__row{
            grid-template-columns: 2fr 1fr 2fr;
            grid-template-areas: 
                "header__logo header__cart header__button"
                "header__nav header__nav header__nav"
            ;
            grid-row-gap: 20px
        }
        &__nav{
            justify-content: center;
            font-size: 1.75rem;
        }
        &__list{
            margin-right: 0;
        }
    }
}

@media(max-width:479.98px){
//HEADER
.header{
    &__row{
        grid-row-gap: 0;
    }
    &__nav{
        justify-content: flex-end;
        margin-right: 15px;
    }
    &__list,&__cart{
        display: none;
    }

    &__burger{
        display: block;
    }
}
}
