/*------------HEADER---------------*/

@media (max-width: 1134.98px){
    .footer{
        .footer__row{
            gap: 15px;
        }
    }
}

@media (max-width: 1098.98px) {

    //common styles
    .links {
        flex-direction: column;
        text-align: center;
    }

    //marketing
    .marketing {
        &__description {
            padding-right: 10px;
        }

        &__photos {
            flex: 0 0 55%;
            padding: 0 10px;
        }

        &__links {
            gap: 10px 10px;
        }
    }
}

@media (max-width: 1023.98px) {

    //serices
    .services {
        position: relative;
        padding-top: 76px;

        &__row {
            flex-wrap: wrap;
            gap: 30px 0;
        }

        &__offer,
        &__description {
            flex: 0 1 100%;
        }

        &__offer {
            padding: 0;
            text-align: center;
        }

        h2.services__title {
            position: absolute;
            top: 0%;
            left: 1.5%;
        }

        &__button {
            display: block;
            width: 100%;
        }

        &__column-1,
        &__column-2 {
            flex-direction: row;
            gap: 0 30px;
        }

        &__column-1 {
            margin: 0;
        }
    }

    //why choose us
    .why-choose-us__container,
    .services__container {
        margin-bottom: 50px;
    }

    .why-choose-us__photho_small {
        display: none;
    }

    //statistics
    .statistics {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__decoration {
            flex: 0 1 100%;
            padding-top: 32px;
        }

        &__columns {
            flex: 0 1 50%;
        }
    }

    //reviews
    .reviews {
        .reviews__button {
            position: static;
            margin-left: 0.5%;
            margin-top: 15px;
        }
    }

    //blog
    .blog {
        .blog__text {
            padding-right: 10px;
        }

        .blog__button {
            position: static;
            margin-left: 0.5%;
            margin-top: 15px;
        }
    }
    //contact us
    .contact-us{
        .contact-us__container{
            margin-bottom: 192px;
        }
    }
    //footer
    .footer{
        .footer__row{
            gap: 15px;
        }
    }
}

@media(max-width:895px){
    .reviews{
        .reviews__body{
            flex-wrap: wrap;
            justify-content: center;
        }
        .reviews__column{
            flex: 0 1 46%;
        }
        .reviews__button{
            width: 100%;
        }
    }
    //contact us
    .contact-us{
        .contact-us__container{
            margin-bottom: 50px;
        }
    }
    //footer
    .footer{
        .footer__description{
            order: 1;
        }
        .pages-footer{
            order: 3;
        }
        .utility-footer{
            order: 4;
        }
        .subscribe-footer{
            order: 2;
        }
    }
}
@media (max-width: 767.98px) {
    body {
        font-size: 16px;
    }

    .title {
        top: -5%;
        left: 0;
        font-size: 1.5rem;
    }

    //HEADER
    .header {
        &__row {
            grid-template-columns: 2fr 1fr 2fr;
            grid-template-areas:
                "header__logo header__cart header__button"
                "header__nav header__nav header__nav";
            grid-row-gap: 20px;
        }

        &__nav {
            justify-content: center;
            font-size: 1.75rem;
        }

        &__list {
            margin-right: 0;
        }
    }

    //marketing
    .marketing {
        &__container {
            margin-bottom: 50px;
        }

        &__columns {
            flex-direction: column;
            gap: 50px 0;
        }
    }

    //why choose us
    .why-choose-us {
        &__decoration {
            display: none;
        }

        &__subtitle {
            font-size: 1.5rem;
        }
    }

    //statistics
    .statistics {
        &__container {
            margin-bottom: 50px;
        }

        &__row {
            gap: 32px;
        }

        &__decoration {
            display: none;
        }

        &__columns {
            flex: 0 0 50%;
        }

        &__column {
            margin-right: 0;

        }
    }

    //review

    //blog
    .blog {
        .blog__container {
            margin-bottom: 35px;
        }
        .blog__body {
            flex-wrap: wrap;
        }

        .blog__column {
            flex: 0 1 45%;
            justify-content: center;
        }

        .blog__button {
            width: 100%;
            margin-left: 0;
        }
    }
    //contact us
    .contact-us{
        .contact-us__buttons{
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-bottom: 20px;
            .button{
                margin: 0;
            }
            .contact-us__pop-up, .contact-us__button{
                width: 100% ;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
            }
        }
    }
    //footer
    .footer{
        .footer__row{
            justify-content: center;
            align-items: center;
        }
        .footer__description{
            flex: 0 1 100%;
            order: 2;
            text-align: center;
        }
        .pages-footer{
            display: none;
        }
        .utility-footer{
            display: none;
        }
        .subscribe-footer{
            flex: 0 1 100%;
            order: 1;
            text-align: center;
        }
        .subscribe-footer__form{
            justify-content: center;
        }
        .footer__socials{
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}



@media (max-width: 479.98px) {

    //HEADER
    .header {
        &__row {
            grid-row-gap: 0;
        }

        &__nav {
            justify-content: flex-end;
            margin-right: 15px;
        }

        &__list,
        &__cart {
            display: none;
        }

        &__burger {
            display: block;
        }

        &__pop-up {
            left: 0%;
            top: 100%;

            .header__cart {
                display: flex;
                font-size: 2rem;
            }
        }
    }

    //marketing
    .marketing {
        .photos {
            gap: 10px;
        }
    }

    //services
    .services {
        &__container {
            margin-bottom: 25px;
        }

        &__description {
            display: none;
        }
    }

    //statistics
    .statistics {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        &__columns {
            flex: 1 1 100%;

            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }

    //review

    //blog
    .blog {
        .blog__subtitle {
            font-size: 1.5rem;
        }

        .blog__columns {
            gap: 15px;
        }

        .blog__body {
            gap: 15px;
        }

        .blog__column {
            flex: 0 1 100%;
        }
    }
    //footer
    .footer{
        .subscribe-footer__form{
            flex-wrap: wrap;
            
        }
        .subscribe-footer__mail{
            flex: 0 1 100%;
        }
        .subscribe-footer__submit{
            flex: 0 1 100%;
        }
        .footer__rights{
            padding: 10px 0;
        }
    }
}